doctype html
html
    head
        title ShapeWebs
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        script(src='/jquery/dist/jquery.js')
        script(src='/tether/dist/js/tether.js')
        script(src='/bootstrap/dist/js/bootstrap.js')
        script(src='/scrollreveal/dist/scrollreveal.js')
    body
        include navbar
        block content
        include footer