.masthead
    .navbar.navbar-light.bg-faded.mb-3
        .container
            ul.nav.nav-pills.nav-fill.pb-0
                li.nav-item
                    a.h3.p-0.mb-0.nav-link(href='/')
                        img.mb-2(src='images/spider.svg' width='32' height='32')
                        | &nbsp; ShapeWebs
                li.nav-item
                    a.nav-link(href='/about')
                        span.fa.fa-question-circle
                        | &nbsp; About
                li.nav-item
                    a.nav-link(href='/services')
                        span.fa.fa-star
                        | &nbsp; Services

                li.nav-item
                    a.nav-link(href='/pricing')
                        span.fa.fa-gbp
                        | &nbsp; Pricing
                li.nav-item
                    a.nav-link(href='/contact')
                        span.fa.fa-envelope
                        | &nbsp; Contact