extends layout

block content
    link(rel='stylesheet', href='/stylesheets/servicesstyle.css')
    section.jumbotron.text-center
        .container
            h1.jumbotron-heading Services
            p.lead.text-muted Listed here are the main services we offer
            a.btn.btn-primary.mr-3(href='#webdesign') Web design
            a.btn.btn-secondary(href='#other') Other

    .album#webdesign
        .container
            .row
                .card
                    h4.card-heading Lorem ipsum 
                    img(src='http://placehold.it/250x250', alt='Card image cap')
                .card.pr-5
                    p.mt-3 Lorem ipsum Lorem ipsum Lorem ipsum 
                    a.btn.btn-success.mt-auto(href='#') Get a quote
                .card
                    h4 Lorem Ipsum
                    img(src='http://placehold.it/250x250', alt='Card image cap')
                .card.pr-5
                    p.mt-3 Lorem ipsum Lorem ipsum Lorem ipsum 
                    a.btn.btn-success.mt-auto(href='#') Get a quote
                .card
                    h4 Lorem ipsum
                    img(src='http://placehold.it/250x250', alt='Card image cap')
                .card.pr-5
                    p.mt-3  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit tellus sit amet dui suscipit gravida. Sed non viverra nisl. Duis facilisis tincidunt urna eget euismod.
                    a.btn.btn-success.mt-auto(href='#') Get a quote
                .card
                    h4 Lorem ipsum
                    img(src='http://placehold.it/250x250', alt='Card image cap')
                .card.pr-5
                    p.mt-3  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit tellus sit amet dui suscipit gravida. Sed non viverra nisl. Duis facilisis tincidunt urna eget euismod.
                    a.btn.btn-success.mt-auto(href='#') Get a quote
